<section class="home">
  <div class="welcome">
    <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 411.55 146.125">
      <text class="welcome" fill="none" transform="translate(135 80)">Bienvenue</text>

    </svg>
    <section class="home">
      <div class="welcome">
        <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 411.55 146.125">
          <text class="welcome" fill="none" transform="translate(135 80)">Espace Etudiant</text>
        </svg>
        <div class="button-container">
          <button>
            <span class="box">Faire un dépot</span>
          </button>
        </div>
      </div>
    </section>

  </div>
</section>
