
    <div class="page-background ">
      <div class="center-container">
        <div class="card" id="formCard">
          <input type="color" formControlName="colorPicker" (change)="onColorChange($event)" />
              <a class="login">Inscription</a>
              <div class="input-container">
                <div>
                  <div class="inputBox">

                    <input type="text" required="required">
                      <span class="user">Nom</span>
                  </div>

                <div class="inputBox">
                    <input type="text" required="required">
                    <span>Prenom</span>
                </div>
                <div class="inputBox">
                    <input type="text" required="required">
                    <span>Email</span>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="inputBox">
                      <input type="text" required="required">
                      <span>Filere</span>
                  </div>
                  <div class="inputBox">
                    <input type="password" required="required">
                    <span>Mot de passe</span>
                  </div>
                  <div class="inputBox">
                    <input type="password" required="required">
                    <span>Confirmer mot de passe</span>
                  </div>

              <button class="enter">Enter</button>

          </div>
        </div>
    </div>
    </div>

