<div class="page-background ">
  <div class="center-container">
      <div class="container">
        <div class="card">
            <a class="login">Connexion</a>
            <div class="inputBox">
                <input type="text" required="required">
                <span class="user">Matricule</span>
            </div>

            <div class="inputBox">
                <input type="password" required="required">
                <span>Mot de passe</span>
            </div>
            <p>Vous n'avez pas de compte? <a>S'inscrire</a></p>
            <button class="enter">Entrer</button>

        </div>
      </div>
  </div>
</div>
